@model ICollection<Emprestimo>
@{
    ViewData["Title"] = "Listagem de Empréstimos";
}

<div class="row">
    <div class="col-md-12">
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <select name="TipoFiltro" class="form-control">
                <option value="Usuario">Usuário</option>
                <option value="Livro">Livro</option>
            </select>
        </div>
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
        <table > 
            <thead>
                <p><tr><th>Id</th></p>
               <p><th>Usuario</th></p>
                <p><th>Data Empréstimo</th></p>
               <p><th>Data Devolução</th></p>
                <p><th>Livro</th></p>
                <p><th>Autor</th></p>
                <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(Emprestimo e in Model)
                {
                <tr>
                   <p><td>@e.Id</td></p>
                   <p> <td>@e.NomeUsuario</td></p> 
                    <p><td>@e.DataEmprestimo.ToString("dd/MM/yyyy")</td></p> 
                   <p> <td>@e.DataDevolucao.ToString("dd/MM/yyyy")</td></p> 
                    <p><td>@e.Livro.Titulo</td></p> 
                    <p><td>@e.Livro.Autor</td></p> 
                   <p><td> <button type="button" class="btn btn-light"><a href="/Emprestimo/Edicao/@e.Id">Editar</a></button></td></p> 
                </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
</div>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Páginas de Empréstimo</a>
    </li>
    <li class="page-item"><a class="page-link" href="/Emprestimo/Listagem">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Próxima</a>
    </li>
  </ul>
</nav>

